{% load static %}
<html>
<head>
	<title>Shopping Cart UI</title>
	<link rel="stylesheet" type="text/css" href="{% static 'cartapp/main.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
    <!--To remove underline from the anchor tag-->
</head>
<body>
   <div class="CartContainer">
    <a class="button" href="{% url 'homepage' %}"><u>- Back -</u></a>
   	   <div class="Header">
   	   	<h3 class="Heading">Shopping Cart</h3>
   	   </div>
       
          {% for item in items %}       
            <div class="Cart-Items pad">
            <div class="image-box">
                <img src="{{item.product.imageURL}}" width="120px" height="120px" top="-145px">
            </div>
            <div class="about">
                <p>{{item.product}}</p>
                <h3 class="subtitle">{{item.product.product_price}}</h3>
            </div>
            <div class="counter">
                <a href="{% url 'add_cart_quantity' item.id %}" class="btn" id="Additem" value="add">+</a>
                <div class="count">{{item.quantity}}</div>
                <a href="{% url 'reduce_cart_quantity' item.id %}" class="btn">-</a>
            </div>
            <div class="prices">
                <div class="amount">{{item.get_total}}</div>
                <div class="save"><u>Save for later</u></div>
                <a class="button" href="{% url 'remove_cart_item' item.id %}" onclick="alert('The product will be removed from cart')"><u>Remove</u></a>
            </div>
            </div>
       {% endfor %}
       {% if items.count == 0 %}
        <center><h2>Cart is empty</h2></center>
       {% endif %}
   	 <hr> 
   	 <div class="checkout">
   	 <div class="total">
   	 	<div>
   	 		<div class="Subtotal">Grand-Total</div>
   	 		<div class="items">{{order.get_cart_items}} items</div>
   	 	</div>
   	 	<div class="total-amount">{{order.get_cart_total}}</div>
   	 </div>
   	 <button class="button">
        <a href="{% url 'checkout' %}">Checkout</a>
    </button></div>
   </div>
</body>
</html>