<html>
  <head>
  </head>
  <body>
    <header class="navbar pcoded-header navbar-expand-lg navbar-light d-lg-none">
      <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        <a href="/" class="b-brand">
          <div class="nav-item pcoded-menu-caption">
            <!-- Your logo img here -->
          </div>
        </a>
      </div>
    </header>
    <nav class="navbar navbar-expand-lg navbar-secondary bg-dark">
      <div class="container-fluid">
        <div class="navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register_product' %}">Register Product</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'category_index' %}">Categories</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'register_category' %}">Register Category</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'api_order' %}">Orders</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" name="searchbar" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
          <form class="d-flex1">
            {% if user.is_authenticated %}
              <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
            {% endif %}
          </form>
        </div>
      </div>
    </nav>
  </body>
</html>
