{% extends 'homeapp/main.html' %}
{% load static %}
{% block content %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'homeapp/product_details.css' %}">
    </head>
<body>
    <main class="container">
    
        <!-- Left Column / Headphones Image -->
        <img src="{{product.imageURL}}" width="120px" height="120px" top="-145px" right="40px">

        <!-- Right Column -->
        <div class="right-column">
    
        <!-- Product Description -->
        <div class="product-description">
            <span>{{product.category_name}}</span>
            <h1>{{product.product_name}}</h1>
            <p>{{product.product_description}}</p>
        </div>
    
        <!-- Product Configuration -->
        <div class="product-configuration">
    
            <!-- Cable Configuration -->
            <div class="cable-config">
            <span>Cable configuration</span>
    
            <div class="cable-choose">
                <button>Straight</button>
                <button>Coiled</button>
                <button>Long-coiled</button>
            </div>
    
            <a href="#">How to configurate your headphones</a>
            </div>
        </div>
    
        <!-- Product Pricing -->
        <div class="product-price">
            <span>{{product.product_price}}</span>
            <a href="{% url 'addcart' product.id %}" class="cart-btn">Add to cart</a>
        </div>
        </div>
    </main>
    <script>
        $(document).ready(function() {
            $('.color-choose input').on('click', function() {
                var headphonesColor = $(this).attr('data-image');

                $('.active').removeClass('active');
                $('.left-column img[data-image = ' + headphonesColor + ']').addClass('active');
                $(this).addClass('active');
            });});
    </script>
</body>
</html>
{% endblock %}